<!DOCTYPE html>
<html>
    <head>
        <title>Interface entre Eventee y Wordpress</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="./static/papaparse.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/json2csv"></script>
    </head>
    <body>
        <div id="app">
            <label>Ingresa el Token del Evento:</label>
            <input id="token" v-model="token" type="text" placeholder="Ej: vB4DTHSTZR0Dz1aatUhlbNbaqgiYb4z91lJR3v6DpyZI9UkI1xu4jdKn5KZMRa3JuvT7gnZwBo5ak5ZVXJAEgohb02Eu18VLS34CT00AsmjfXsPHuFnmZSVyjGXhhRIsY5X5hThs8DqP1uHS8rIqQW8hWzlk8Zduhj6iXpV7W8YkjvN40ZTETl47kY4g29">
            <button v-on:click="HallsList">Check Event</button>
            <div v-if="halls.length > 0">
                <label for="hall">Escoge el Escenario:</label>
                <select id="hall" v-model="selected" for="hall">
                    <option v-for="hall in halls" v-bind:value="hall.value">{{hall.text}}</option>
                </select>
                <br>
                <button v-on:click="expSpeaker">Export Speakers</button>
                <br>
                <label>Import Speakers:</label>
                <input type="file" id="uploadedDataSpeakers" accept=".csv" />
                <button id="btnSpeakers" v-on:click="csvSpeakers">Import Speakers</button>
        
                <br>
                <label>Import Lectures:</label>
                <input type="file" id="uploadedDataLectures" accept=".csv" />
                <button id="btnLectures" v-on:click="csvLectures">Import Lectures</button>
                <div style="display: none;">
                    <br>
                    <label>Import Workshops:</label>
                    <input type="file" id="uploadedDataWorkshops" accept=".csv" />        
                    <button id="btnWorkshops" v-on:click="csvWorkshops">Import Workshops</button>
                </div>
            </div>
    
        </div>
        <iframe id="my_iframe" style="display:none;"></iframe>
    </body>
    
    <script>
        
        Vue.config.devtools = true;
        Vue.config.debug = true;
        var app = new Vue({
            el: '#app',
            data: {
                token: "",
                halls: [],
                selected: ""
            },
            methods: {
                /** Method to get the Halls of the Eventee API
                 *  This dropbox is used to
                 */
                HallsList: function(){
                    axios.get('https://eventee.co/public/api/v1/content',{
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer '+this.token
                        },
                    })
                    .then((response)=>{
                        var halls = [];
                        response.data.halls.forEach(element => {
                            halls.push({text: element.name,value: element.id});
                        });
                        this.halls = halls;
                    })
                },
                /** This works as a Front petition
                 *  Imports the data of a csv, returns a object with the data,
                 *  sends the object to the Speaker API and POST it to the 
                 *  prefered Hall.
                 */
                csvSpeakers: ()=>{
                    Papa.parse(document.getElementById('uploadedDataSpeakers').files[0],{
                        download: true,
                        header: false,
                        complete: function(result){
                            impSpeakers(result.data);
                        }
                    })
                },
                /** This works as a Front petition
                 *  Imports the data of a csv, returns a object with the data,
                 *  sends the object to the Lectures API and POST it to the 
                 *  prefered Hall.
                 */
                csvLectures: ()=>{
                    Papa.parse(document.getElementById('uploadedDataLectures').files[0],{
                        download: true,
                        header: false,
                        complete: function(result){
                            impLectures(result.data);
                        }
                    })
                },
                /** This works as a Front petition
                 *  Imports the data of a csv, returns a object with the data,
                 *  sends the object to the Workshops API and POST it to the 
                 *  prefered Hall.
                 */
                csvWorkshops: ()=>{
                    Papa.parse(document.getElementById('uploadedDataWorkshops').files[0],{
                        download: true,
                        header: false,
                        complete: function(result){
                            impWorkshops(result.data);
                        }
                    })
                },
                /** This works as a Front petition
                 *  GET the API data, select the data and creates an object
                 *  this object is returned and is parsed into a CSV and is
                 *  downloaded by the user of the app
                 */
                expSpeaker: ()=>{
                   buildCSV(app.$data.token)
                    .then(result=>{  
                        const fields = [
                            'Title',
                            'speaker_nombre',
                            'speaker_bio',
                            'speaker_empresa',
                            'speaker_puesto',
                            'speaker_rs_facebook',
                            'speaker_rs_instagram',
                            'speaker_rs_linkedin',
                            'speaker_rs_pinterest',
                            'speaker_rs_twitter',
                            'speaker_rs_youtube', 
                            'speaker_sitio_web'
                        ];
                        const csv = ConvertToCSV(result) 
                        //const json2csvParser = new json2csv.Parser({ fields });
                        //json2csvParser.parse(result);
                        const nameFile = 'eventee'+Date.now()+'.csv'
                        var a = document.createElement('a');
                        a.href = 'data:atachment/csv,' + encodeURIComponent(csv);
                        a.target = '_black';
                        a.download = nameFile;
                        document.body.appendChild(a);
                        a.click();
                        return nameFile;
                    })                    
                },               
            }
        })
        /** This function is the Petition to the middleware
         *  Sends the petition and the data to the controller
         */
        function impSpeakers(speakers){
            $.ajax('/webservices/impSpeakers',{
                type: 'POST',
                data: {speakers: speakers,token: app.$data.token,hall: app.$data.selected},
                success: function (data, status, xhr) {
                    alert('Speakers updated');
                }
            });
        }
        /** This function is the Petition to the middleware
         *  Sends the petition and the data to the controller
         */
        function impLectures(lectures){
            $.ajax('/webservices/impLectures',{
                type: 'POST',
                data: {lectures: lectures,token: app.$data.token,hall: app.$data.selected},
                success: function (data, status, xhr) {
                    alert('Lectures updated');
                }
            });
        }
        /** This function is the Petition to the middleware
         *  Sends the petition and the data to the controller
         */
        function impWorkshops(workshops){
            $.ajax('/webservices/impWorkshops',{
                type: 'POST',
                data: {workshops: workshops,token: app.$data.token,hall: app.$data.selected},
                success: function (data, status, xhr) {
                    alert('Workshops updated');
                }
            });
        }
        // this function download the content of a page.
        function Download(url) {
            document.getElementById('my_iframe').src = url;
        };
        /** This function converts an object to a CSV formated string
         * 
         */
        function ConvertToCSV(objArray) {
            var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
            var str = '';
            for (var i = 0; i < array.length; i++) {
                var line = '';
                for (var index in array[i]) {
                    if (line != '') line += ','

                    line += array[i][index];
                }

                str += line + '\r\n';
            }
            return str;
        };
        /** This function GET the content of the event and using the data
         *  creates a formated CSV Ready to be imported into Wordpress
         * 
         */
        function buildCSV(token){
            return new Promise((resolve,reject)=>{
                axios.get('https://eventee.co/public/api/v1/content',{
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer '+token
                    },
                })
                .then(function (response) {
                    // handle success
                    var result = [];
                    var halls = response.data.halls;
                    var speakers = response.data.speakers;
                    var lectures = response.data.lectures;
                    var workshops = response.data.workshops;
                    speakers.forEach(element=>{
                        result.push({
                            Title: element.name,
                            speaker_nombre: element.name,
                            speaker_bio: element.bio,
                            speaker_empresa: element.company,
                            speaker_puesto: element.position,
                            speaker_rs_facebook: element.facebook === ''? '#':element.facebook,
                            speaker_rs_instagram: "#",
                            speaker_rs_linkedin: element.linkedIn === ''? '#':element.linkedIn,
                            speaker_rs_pinterest: "#",
                            speaker_rs_twitter: element.twitter === ''? '#':element.twitter,
                            speaker_rs_youtube: "#",
                            speaker_sitio_web: element.web === ''? '#':element.web
                        })
                    })
                    resolve(result);
                })
                .catch(e=>reject(console.error("Error in buildCSV: "+e)))
            })
            
        }
    </script>
</html>